@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/blazorApp" target="_blank">Check blazor with SignalR</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>