@page "/"
@namespace BlazorApp.Pages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="time/css/bootstrap/bootstrap.min.css" />
    <link href="time/css/site.css" rel="stylesheet" />
    <link href="2048/css/2048.css" rel="stylesheet" />
</head>
<body>
    <app>@(await Html.RenderStaticComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/2048/js/RegisterCsHandlers.js"></script>
</body>
</html>